<h1><%= @post.title %></h1>
<% binding.pry %>

<!-- Add code here to link to the post's category. -->
<% @post.each do |p| %>
  <li><%= link_to p.category, category_path(p.category) %></li>
<% end %>

<p><%= @post.description %></p>
