<h1><%= @post.title %></h1>
<% binding.pry %>

<!-- Add code here to link to the post's category. -->

<p><%= link_to @post.category, category_path(@post.category) %></p>

<p><%= @post.description %></p>
